.start-page {
  background-color: #1b3c1a; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.btn {
  background-color: #2e8b57;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #246d45;
}
